/*
 * Hayfever for Harvest
 * Options Page Stylesheet
 *
 * Plagiarized from Skeet's options page styles (https://github.com/presently/skeet)
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 10px;
	color: #4d4d4d
}

#header {
	padding-bottom: 2.5em;
	padding-top: 1.5em;
}

#header h1 {
	font-size: 1.8em;
	display: inline;
	padding-bottom: 43px;
	padding-left: 75px;
	padding-top: 34px;
	background: url(../app_icon_64.png) no-repeat;
	background-size: 64px;
	background-position: 1px 18px;
	letter-spacing: -1px
}

#footer {
	float: left;
	margin-left: 24px;
	margin-top: 12px;
}

.gc-settings-content {
	margin: 15px 6px 0 6px;
	padding: 10px;
	color: #333;
	border: 1px solid #dedede;
	-webkit-border-radius: 5px 5px;
}

#status {
	display: none;
	width: 70%;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
}

#status.success {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.61, #ddffdd),
		color-stop(0.14, #c1e4c1)
	);
	border: 1px solid #9C6;
	color: #4d4d4d;
	-webkit-border-radius: 12px 20px; /* capsule shaped edges if the div is short enough */
}

fieldset {
	border: 1px #ccc solid;
	-webkit-border-radius: 8px;
}

fieldset p span.hint {
	font-size: 11px;
	display: block;
	font-style: italic;
}

input[type="text"], input[type="password"] {
	width: 300px;
	padding: 5px;
	border: 1px solid #ccc;
	-webkit-border-radius: 8px;
}
