/*
 * Hayfever for Harvest
 * Options Page Stylesheet
 *
 * Plagiarized from Skeet's options page styles (https://github.com/presently/skeet)
 */
/* line 12, ../sass/options.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 10px;
  color: #4d4d4d;
}

/* line 18, ../sass/options.scss */
#header {
  padding-bottom: 2.5em;
  padding-top: 1.5em;
}
/* line 21, ../sass/options.scss */
#header h1 {
  font-size: 1.8em;
  display: inline;
  padding-bottom: 43px;
  padding-left: 75px;
  padding-top: 34px;
  background: url(../app_icon_64.png) no-repeat;
  background-size: 64px;
  background-position: 1px 18px;
  letter-spacing: -1px;
}

/* line 32, ../sass/options.scss */
#footer {
  float: left;
  margin-left: 24px;
  margin-top: 12px;
}

/* line 37, ../sass/options.scss */
.gc-settings-content {
  margin: 15px 6px 0 6px;
  padding: 10px;
  color: #333;
  border: 1px solid #dedede;
  -webkit-border-radius: 5px 5px;
}

/* line 44, ../sass/options.scss */
#status {
  display: none;
  width: 70%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}
/* line 50, ../sass/options.scss */
#status.success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddffdd), color-stop(100%, #c1e4c1));
  background-image: -webkit-linear-gradient(top, #ddffdd, #c1e4c1);
  background-image: -moz-linear-gradient(top, #ddffdd, #c1e4c1);
  background-image: -o-linear-gradient(top, #ddffdd, #c1e4c1);
  background-image: linear-gradient(top, #ddffdd, #c1e4c1);
  border: 1px solid #9C6;
  color: #4d4d4d;
  -webkit-border-radius: 5px;
  /* capsule shaped edges if the div is short enough */
}

/* line 57, ../sass/options.scss */
fieldset {
  border: 1px #ccc solid;
  -webkit-border-radius: 8px;
  margin-bottom: 20px;
}
/* line 61, ../sass/options.scss */
fieldset p span.hint {
  font-size: 11px;
  display: block;
  font-style: italic;
}

/* line 67, ../sass/options.scss */
input[type="text"], input[type="password"] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7 10%, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7 10%, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #f7f7f7 10%, #ffffff);
  background-image: linear-gradient(top, #ffffff, #f7f7f7 10%, #ffffff);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-in 50ms;
  width: 300px;
  padding: 5px;
  border: 1px solid #e5e5e5;
  color: #4d4d4d;
}
/* line 77, ../sass/options.scss */
input[type="text"]:hover, input[type="password"]:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px;
}

/* line 83, ../sass/options.scss */
button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f58752), to(#d44d0d));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  -webkit-transition: all 200ms ease-in 50ms;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 1px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 7px;
  border: none;
}
/* line 100, ../sass/options.scss */
button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6976a), to(#f26522));
}
/* line 105, ../sass/options.scss */
button:active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f26522), to(#f6976a));
}

/* line 110, ../sass/options.scss */
p.info {
  font-size: 11px;
  font-style: italic;
}
