body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #4d4d4d;
}

#header {
	width: 325px;
}

#header img {
	float: left;
	margin-right: 10px;
}

#header h1 {
	float: left;
	font-size: 24px;
	margin-top: 10px;
}

#status {
	-webkit-border-radius: 8px;
	border: 1px solid #E9E6CF;
	background: #FFFCE0;
	padding: 5px;
	font-size: 12px;
	clear: both;
	display: none;
}

#status.notice {
	background: #fff6bf;
	border-color: #ffd324;
	color: #514721;
}

#status.info {
	background: #d5edf8;
	border-color: #92cae4;
	color: #205791;
}

#status.success {
	background: #E6EFC2;
	border-color: #c6d880;
	color: #264409;
}

#status.error {
	background: #fbe3e4;
	border-color: #fbc2c4;
	color: #8a1f11;
}

#timesheet {
	margin: 10px auto;
}

#timesheet thead tr {
	border: 1px solid #e6e6e6;
}

#timesheet thead th, #timesheet tfoot td {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #D8EBFF),
		color-stop(0, #B6D9FF)
		
	);
	font-size: 13px;
	padding: 5px;
	text-shadow: 0 1px 0px #fff;
	color: #536082;
}

#timesheet thead th.left {
	-webkit-border-top-left-radius: 6px;
}

#timesheet thead th.right {
	-webkit-border-top-right-radius: 6px;
}


#timesheet tbody tr.odd {
	/*background: #F7FBFF;*/
	background: #F3F3F3;
}

#timesheet tbody td {
	font-size: 11px;
	padding: 8px;
}

#timesheet tfoot td {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

a#refresh {
	background: url(../img/buttons/reload.gif) top left no-repeat;
	text-indent: -9999px;
	display: block;
	width: 19px;
	height: 12px;
	float: left;
}

a#new-entry-link {
	background: url(../img/buttons/plus.gif) top left no-repeat;
	text-indent: -9999px;
	display: block;
	width: 19px;
	height: 12px;
	float: left;
}

#entry-form {
	display: none;
}
