body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #4d4d4d;
}

#header {
	width: 325px;
}

#header img {
	float: left;
	margin-right: 10px;
}

#header h1 {
	float: left;
	font-size: 24px;
	height: 64px;
}
