@import 'partials/base';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #4d4d4d; }

a {
  color: #DB9C59; }

#header {
  width: 325px;
  img {
    float: left;
    margin-right: 10px; }
  h1 {
    float: left;
    font-size: 24px;
    margin-top: 10px; } }

#status {
  -webkit-border-radius: 8px;
  border: 1px solid #E9E6CF;
  background: #FFFCE0;
  padding: 5px;
  font-size: 12px;
  clear: both;
  display: none;
  &.notice {
    background: #fff6bf;
    border-color: #ffd324;
    color: #514721; }
  &.info {
    background: #d5edf8;
    border-color: #92cae4;
    color: #205791; }
  &.success {
    background: #E6EFC2;
    border-color: #c6d880;
    color: #264409; }
  &.error {
    background: #fbe3e4;
    border-color: #fbc2c4;
    color: #8a1f11; } }

#timesheet {
  margin: 10px auto;
  thead {
    tr {
      border: 1px solid #e6e6e6; }
    th {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #d8ebff), color-stop(0, #b6d9ff));
      font-size: 13px;
      padding: 5px;
      text-shadow: 0 1px 0px #fff;
      color: #536082; } }
  tfoot td {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #d8ebff), color-stop(0, #b6d9ff));
    font-size: 13px;
    padding: 5px;
    text-shadow: 0 1px 0px #fff;
    color: #536082; }
  thead th {
    &.left {
      -webkit-border-top-left-radius: 6px; }
    &.right {
      -webkit-border-top-right-radius: 6px; } }
  tbody {
    tr.odd {
      background: $tr-odd-bg;
    }
    td {
      font-size: 11px;
      padding: 8px;

      a.toggle {
        background: url(../img/icons/silk/control_play_blue.png) top left no-repeat;
        text-indent: -9999px;
        display: block;
        width: 16px;
        height: 16px;
        float: left;
      }

      a.edit {
        background: url(../img/icons/silk/clock_edit.png) top left no-repeat;
        text-indent: -9999px;
        display: block;
        width: 16px;
        height: 16px;
        float: left;
      }

      a.delete {
        background: url(../img/icons/silk/delete.png) top left no-repeat;
        text-indent: -9999px;
        display: block;
        width: 16px;
        height: 16px;
        float: left;
      }
    } 
    tr.running {
      td a.toggle {
        background: url(../img/icons/silk/control_pause_blue.png) top left no-repeat !important;
      }
    }
  }
  tfoot td {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #b6d9ff), color-stop(0, #d3ebff)); } }

a {
  &.icon {
    margin-right: 5px;
  }
  &#refresh {
    background: url(../img/icons/silk/arrow_refresh_bw.png) top left no-repeat;
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
  }
  &#new-entry-link {
    background: url(../img/icons/silk/add_bw.png) top left no-repeat;
    text-indent: -9999px;
    display: block;
    width: 18px;
    height: 18px;
    float: left;
  }
  &#options-link {
    background: url(../img/icons/silk/cog.png) top left no-repeat;
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
  }
}

ul.toolbar {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    font-size: 0.8em; } }

#stats {
  .stat-clock {
    width: 50%;
    float: left;

    p {
      font: {
        weight: bold;
        size: 30px;
      }
      margin: 10px 0;
      margin-bottom: 0;
    }

    span.stat-caption {
      font-size: 11px;
    }

    &#current-hours-stat {
      text-align: right;
    }
  }

}

#form-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55); }

#entry-form {
  font-size: 12px;
  -webkit-border-radius: 8px;
  background: #fff;
  width: 280px;
  margin: 0 auto;
  padding: 0 5px 10px 10px;
  h2 {
    font-size: 20px;
    padding-top: 5px; }
  a.cancel {
    /* TODO: Display block, background image of an X */ }
  label {
    float: left;
    display: block;
    width: 65px;
    font-size: 14px;
    &.checkbox {
      float: right;
      width: 216px; } }
  select {
    width: 205px; }
  input[type='text'], textarea {
    border: 1px solid #e5e5e5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    width: 200px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(10%, #f7f7f7), to(white));
    -webkit-transition: all 200ms ease-in 50ms; }
  input[type='text']:hover, textarea:hover, input[type='text']:focus, textarea:focus {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px; }
  input[type='text'] {
    font-size: 14px;
    font-weight: bold; }
  textarea {
    font-size: 12px;
    height: 60px; } }
