@import "compass";
@import "partials/base";

body {
  font-family: $helvetica-neue;
  font-size: 1em;
  color: $dark-gray; 
  width: $popup-width;
  min-height: 245px;
}

a {
  color: $orange;
  outline: none;
}

#header {
  width: 325px;
  img {
    float: left;
    margin-right: 10px; }
  h1 {
    float: left;
    font-size: 24px;
    margin-top: 10px; } }

#timesheet {
  margin: 10px auto;
	width: $popup-width;
  thead {
    tr {
      border: 1px solid $tr-border; }
    th {
      background: $th-background;
      font-size: 13px;
      padding: 5px;
      text-shadow: 0 1px 0px white;
      color: $th-text; } }
  tfoot td {
    background: $th-background;
    font-size: 13px;
    padding: 5px;
    text-shadow: 0 1px 0px #fff;
    color: $th-text; }
  thead th {
    &.left {
      -webkit-border-top-left-radius: 6px; }
    &.right {
      -webkit-border-top-right-radius: 6px; } }
  tbody {
    tr.odd {
      background: $tr-odd-bg;
    }
    td {
      font-size: 11px;
      padding: 8px;

      a {
        font-size: 16px;
        color: $dark-gray;
        text-decoration: none;
        margin-right: 4px;
      }
    } 

    tr.running {
      td {
        -webkit-animation: running-timer 4s;
        -webkit-animation-iteration-count: infinite;
      }

      a.toggle-timer span {
        &:before {
          content: "\f04c";
        }
      }
    }
  }
  tfoot td {
    @include border-bottom-left-radius(6px);
    @include border-bottom-right-radius(6px);
    background: $th-background;
    color: $dark-gray;
    padding: {
      left: 10px;
      bottom: 3px;
    };

    a {
      font-size: 1.3em;
      color: $dark-gray;
      margin-right: 4px;
    }

    #table-spinner {
      width: 16px;
      height: 16px;
      float: right;
    }
  }
}

ul.toolbar {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    font-size: 0.8em; } }

#stats {
  .stat-clock {
    width: 50%;
    float: left;

    p {
      font: {
        weight: bold;
        size: 30px;
      }
      margin: 10px 0;
      margin-bottom: 0;
    }

    span.stat-caption {
      font-size: 11px;
    }

    &#current-hours-stat {
      text-align: right;
    }
  }

}

#form-overlay {
  @include transition(all 500ms ease);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 1;

  &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
  }

  &.ng-hide {
    opacity: 0;
  }

  #form-spinner {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

#entry-form {
  @include border-radius(8px);
  font-size: 12px;
  background: white;
  width: 85%;
  margin: 10px auto;
  padding: 5px 5px 10px 10px;
  position: relative;

  h2 {
    font-size: 20px;
    padding-top: 5px;
  }

  a.cancel {
    color: $dark-gray;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 10px;

    &:hover {
      color: $cancel-hover;
    }
  }

	.error {
		color: $error-color;
		font-size: 11px; 
  }
  label {
    float: left;
    display: block;
    width: 65px;
    font-size: 14px;
    &.checkbox {
      float: right;
      width: 216px;
    }
  }
  select {
    width: 205px;
  }
  input[type='text'], textarea {
    @include border-radius(4px);
    @include transition(
      border-color ease-in-out 150ms,
      box-shadow ease-in-out 150ms
    );
    border: 1px solid $options-input-border;
    font-family: $helvetica-neue;
    color: $dark-gray;
    outline: none;

    &:focus {
      @include box-shadow(
        inset 0 1px 1px $input-shadow-inner,
        0 0 8px $input-shadow-outer
      );
      border-color: $options-input-border-focus;
    }
  }
  input[type='text'] {
    font-size: 16px;
    font-weight: bold;
    width: 50px;
    padding: 4px 6px;
  }
  textarea {
    font-size: 12px;
    height: 60px;
    width: 200px;
  }

  input[type="submit"] {
    @include border-radius(4px);
    color: white;
    cursor: pointer;
    font-size: 0.88em;
    text-align: center;
    padding: 6px 12px;
    border: 1px solid $popup-button-border;
    background: $popup-button-background;
    outline: none;

    &:hover, &:focus {
      background: $popup-button-background-focus;
    }
  }
}

@-webkit-keyframes running-timer {
  0% {
    background: white;
  }

  50% {
    background: $running-timer-background;
  }

  100% {
    background: white;
  }
}
