<tr id='entry-{{id}}'>
	<td class='entry-name'>
		<strong>{{client}}:</strong> {{project}} {{task}}
	</td>
	<td class='entry-hours'>
		{{hours}}
	</td>
	<td class='timer-toggle'>
		<a href='#' class='toggle'>On/Off</a>
	</td>
</tr>
