<h2>Download Hayfever</h2>
<ul id="downloads">
	<li>
		<a href="https://chrome.google.com/extensions/detail/hieiheiincjomjoiiknfcmiioakhlhmj" target="_blank" class="download-link crx-file"><strong>Chrome Web Store &raquo;</strong></a>
	</li>
	<li>
		<a href="https://github.com/mikedamage/hayfever-chrome/zipball/master" class="download-link zipball">Source Code (Zip Archive) &raquo;</a>
	</li>
	<li>
		<a href="https://github.com/mikedamage/hayfever-chrome" class="download-link github" target="_blank">Source Code on GitHub &raquo;</a>
	</li>
</ul>
