@import "compass";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.

@import "partials/mixins";

@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box

  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;

  #fork-me {
    left: -65px;
    height: 30px;
    top: 40px;
    position: absolute;
    text-decoration: none;
    width: 250px;
    @include rotate(-45deg);

    span {
      background: black;
      color: white;
      font-size: 14px;
      left: 0;
      padding: 5px 0;
      position: absolute;
      text-align: center;
      width: 250px;
      @include box-shadow(rgba(black, 0.2) 1px 1px 10px);
      @include transition(opacity, 1s);

      &:last-child {
        background: $orange;
        opacity: 0;
      }
    }

    &:hover span {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }

  #container {
    @include container;

    a {
      color: $orange;
      @include transition(color, 0.5s);

      &:hover {
        color: $link-color;
      }
    }

    h1, h2, h3 {
      font: {
        family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        weight: 100;
      }
    }

    h2 {
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    em {
      font-weight: 100;
    }

    #header {
      h1#logo {
        @include replace-text('../img/Hayfever_logo.png', 302px, 232px);
        margin: {
          right: auto;
          left: auto;
          bottom: 0;
        }
      }

      #addthis-links {
        text-align: center;

        .addthis_toolbox {
          width: 300px;
          margin: 0 auto;
        }
      }

      p.tagline {
        text-align: center;
        font: {
          size: 36px;
          family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          weight: 100;
        }
        color: $orange;
        margin-bottom: 0.2em;
      }

      .subscribe {
        width: 760px;
        margin: {
          top: 2em;
          bottom: 4em;
          left: auto;
          right: auto;
        }
        text-align: center;

        p {
          font: {
            family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            size: 16px;
            weight: 200;
          }
        }

        input {
          border: 1px solid #e5e5e5;
          color: #4d4d4d;
          width: 200px;
          padding: 5px;
          font: {
            family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            weight: bold;
            size: 18px;
          }
          letter-spacing: -1px;
          @include box-shadow(rgba(0, 0, 0, 0.1), 0px, 0px, 8px);
          @include linear-gradient(color-stops(white, #f7f7f7 10%, white), top);
          @include transition(all, 200ms, ease-in, 50ms);

          &.placeholder {
            color: #999;
          }

          &:hover {
            @include box-shadow(rgba(0, 0, 0, 0.35), 0px, 0px, 8px);
          }
        }

        button {
          @include linear-gradient(color-stops(lighten($orange, 10%), darken($orange, 10%)), top);
          @include border-radius(5px);
          @include text-shadow(rgba(0, 0, 0, 0.25), 0px, -1px, 1px);
          @include box-shadow(rgba(0, 0, 0, 0.25), 0px, 1px, 3px);
          @include transition(all, 200ms, ease-in, 50ms);
          border: none;
          color: white;
          font-weight: bold;
          font: {
            weight: bold;
            size: 15px;
            family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          }
          cursor: pointer;
          text-align: center;
          padding: 7px;
          margin-bottom: 1px;

          &:hover {
            @include box-shadow(rgba(0, 0, 0, 0.5), 0px, 1px, 3px);
            @include linear-gradient(color-stops(lighten($orange, 15%), $orange), top);
          }

          &:active {
            @include linear-gradient(color-stops($orange, lighten($orange, 10%)), top);
          }
        }
      }
    }

    #main {
      @include column(17);

      p {
        font: {
          size: 1.3em;
          weight: 100;
        }
      }

      .screenshots {
        list-style: none;
        padding-left: 0;
        
        li {
          margin-bottom: 15px;
        }
      }
    }

    #sidebar {
      @include column(7, true);
      
      #downloads {
        list-style: none;
        font-size: 1.2em;
        padding-left: 20px;

        .download-link {
          padding: {
            top: 2px;
            left: 30px;
          }
          height: 24px;
          display: block;

          &.crx-file {
            background: url(../img/chrome-2.png) top left no-repeat;
          }

          &.zipball {
            background: url(../img/zip.png) top left no-repeat;
          }

          &.github {
            background: url(../img/github.png) top left no-repeat;
          }
        }

      }

      .unavailable {
        color: $gray;
        text-decoration: line-through;
      }

      #github-feed {
        list-style: none;
        padding-left: 20px;

        li {
          margin-bottom: 10px;

          &.more {
            text-align: right;
          }
        }
      }
    }

    #footer {
      @include column(24);
      font-size: 1em;
    }

    ul {
      font-size: 14px;

      &#news {
        list-style: none;
        padding-left: 0;
      }
    }

  }
}

form.bp {
  @include blueprint-form; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }


// vim: set ts=2 sw=2 expandtab :
