// Hayfever for Chrome
// Sass Variables and Configuration Stylesheet

// Dimensions
$popup-width: 440px;

// Fonts
$helvetica: Helvetica, Arial, sans-serif;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$options-orange: #f26522;
$orange: #db9c59;
$success-green: #ddffdd;
$success-border: #9c6;
$light-gray: #e5e5e5;
$tr-border: #e6e6e6;
$tr-odd-bg: #ebf5fc;
$th-background: #b6d9ff;
$th-text: #536082;
$dark-gray: #4d4d4d;
$error-color: #A33434;
$running-timer-start: #f2ffec;
$running-timer-middle: #dbf8cd;
$blinkey-middle: #ffefc7;
$options-fieldset-border: #ccc;

$ultralight-shadow: rgba(0, 0, 0, 0.1);
$light-shadow: rgba(0, 0, 0, 0.25);
$medium-shadow: rgba(0, 0, 0, 0.35);
$dark-shadow: rgba(0, 0, 0, 0.5);

// Derivitive Colors
$button-top: lighten($orange, 10%);
$button-bottom: darken($orange, 10%);
$button-hover-top: lighten($orange, 15%);
