<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	
	{% if page.description %}
		<meta name="description" content="{{page.description}}" />
	{% else %}
		<meta name="description" content="Hayfever is a Google Chrome extension that makes it easy to manage your Harvest timesheets right from your browser. A Harvest account is required." />
	{% endif %}

	{% if page.keywords %}
		<meta name="keywords" content="{{ page.keywords }}" />
	{% else %}
		<meta name="keywords" content="time tracking, productivity, harvest, hayfever, chrome, extension, plugin, google chrome" />
	{% endif %}

	<title>{{page.title}} // Hayfever: A Harvest time tracking plugin for Google Chrome</title>

	<link href="/hayfever-chrome/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/hayfever-chrome/css/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
		<link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!-- ATOM News Feed -->
	<link href="/hayfever-chrome/atom.xml" rel="alternate" type="application/atom+xml" title="Hayfever News" />

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-21680103-2']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
	
</head>
<body class="bp">
	<a id="fork-me" href="https://github.com/mikedamage/hayfever-chrome">
		<span>Fork me on GitHub</span>
		<span>Feed the Octocat</span>
	</a>

	<div id="container">

		<div id="header">
			<h1 id="logo">
				<a href="/hayfever-chrome">Hayfever</a>
			</h1>
			<p class="tagline">A Harvest Time Tracking Plugin for Google Chrome</p>

		</div>

		<p>
			<a href="/hayfever-chrome">&laquo; back to homepage</a>
		</p>

		<div id="main">
			{{ content }}
		</div>

		<div id="sidebar">
			{% include download_links.html %}

			{% include donate.html %}

<!--
			<h2>People Are Talking</h2>
			<ul id="twitter-feed">
				<li class="loading">Loading...</li>
			</ul>
-->
			
			<h2>Credits</h2>
			<p>
				Developed by Mike Green
				<br />
				Logo and icons by Gillian Deak of <a href="http://www.fifthroomcreative.com" target="_blank">Fifth Room Creative</a>
				<br />
				Hayfever uses the Silk icon set by <a href="http://famfamfam.com/" target="_blank">famfamfam</a>
			</p>
		</div>

		<div id="footer">
			<div id="addthis-links">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<!-- AddThis Button END -->
			</div>

			<div id="subscribe">
				<p>Available Now on the Chrome Web Store. Sign up below to receive updates:</p>
				<form id="subscribe-form" action="http://fifthroomcreative.createsend.com/t/y/s/oliykh/" method="post">
					<input type="text" name="cm-name" id="subscribe-name" placeholder="Name" />
					<input type="email" name="cm-oliykh-oliykh" id="subscribe-email" placeholder="Email" />
					<input type="hidden" name="cm-f-dyljth" value="Website" />
					<button>Subscribe &raquo;</button>
				</form>
			</div>
			<p>
				Copyright &copy; 2011 Mike Green 
				<br/>
				Hayfever is Open Source Software, released under the terms of the <a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GNU General Public License v2</a>.
			</p>
		</div>
	</div>

	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=mikedamage"></script>
	<script type="text/javascript" src="/hayfever-chrome/js/modernizr-1.7.min.js"></script>
	<script type="text/javascript" src="/hayfever-chrome/js/underscore-min.js"></script>
	<script type="text/javascript" src="/hayfever-chrome/js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="/hayfever-chrome/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/hayfever-chrome/js/handlebars-0.9.0.pre.5.js"></script>
	<script type="text/javascript" src="/hayfever-chrome/js/main.js"></script>

	{% include handlebars_templates.html %}

</body>
</html>
